<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group ">
          <label for="email">Email</label>
          <input type="email" email required id="email" name="email" ngModel #email="ngModel" class="form-control">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" required id="password" name="password" ngModel #password="ngModel" class="form-control">
          <span class="help-block" *ngIf="!password.valid && password.touched">Password is required</span>
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Log in</button>
      </form>
    </div>
  </div>